

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 400px;
    font-style: normal;
  }
  


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary{
    color: #006A50 ;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
}
.body-clr{
    background-color: #F1F1F3;
}

.banner{
    display: flex;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24PX;
    justify-content: space-between;
    margin-top: 20px;

}

body{
    margin: 0 160px;
}

.banner-des{
    font-weight: 700;
    font-size: 56px;
    width: 622px;
    height: 201px;
}
.banner-pp{
    width: 474.03px;
    height: 400px;
}
.banner-title{
    color: #0e0e0e50;
    font-weight: 500;
    font-size: 24px;
}
.banner-btn{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
}
.banner-content{
    height: 326px;
    width: 622px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}

.skill-pp{
    width: 64px;
    height: 64px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 32px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0e;
}

.skill-des{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e90;
}

.vision-container{
    display: flex;
    gap: 24px;
}

.vision{
    padding: 32px;
    background-color: white;
    border-radius: 16px;
    margin-top: 32px;
}

.vision-pp{
    width: 64px;
    height: 64px;
}

.vision-title{
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0e;
}

.vision-des{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0e90;
}

.bg-1{
    background-color: #5490F540;
}

.bg-2{
    background-color:#09A15C40 ;
}
.bg-3{
    background-color: #FFC23940;
}

.btn-1{
    background-color: #5490F5;
     padding: 11px 20px;
     border-radius: 8px;
     color: white;
     border: none;
     margin-top: 10px;

}

.btn-2{
    background-color: #09A15C;
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    border: none;
    margin-top: 10px;


}

.btn-3{
    background-color: #FFC239;
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    border: none;
    margin-top: 10px;

}
.speech{
    padding: 48px 24px;
    background-color: white;
    margin-top: 32px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 37px ;
}

.cc{
    margin-top: -15px;
}


.bnr-aj{
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
}

.radius{
    border-radius: 24px;
}

.bold1{
    font-size: 32px;
    font-weight: 700;
}

.btn-aj{
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
    margin-top: 8px;
}